/*COLOR 1: Blanco:  #F7F9F7  */
/*COLOR 2: NARANJA: #EC992E  */
/*COLOR 3: ROJO:    #E76954  */
/*COLOR 4: MORADO:  #BD4760  */
/*COLOR 5: NEGRO:   #25293A  */

#main-container {
    height: 100%;
    display: flex;
    justify-content: center;
}

#editar-user, #informacion-user {
    overflow: hidden;
    background-color: #BD4760;
    box-shadow: 0 10px 28px #25293A;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 0;
    height: 0;
    margin: 10px;
    transition: all 0.75s ease-out;
}

#cont-img {
    width: 40%;
    padding: 5px;
}

    #cont-img > img {
        object-fit: cover;
        overflow: hidden;
        width: 100%;
    }

#info-cont {
    width: 50%;
    margin: 20px;
}

#info {
    display: flex;
    background-color: #25293A;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

#info2 {
    background-color: #25293A;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.inf {
    background-color: #F7F9F7;
    border-radius: 5px;
    width: 100%;
    height: 25%;
    margin: 1px 2px;
    padding: 2px;
}

.inf2 {
    background-color: #F7F9F7;
    border-radius: 5px;
    width: 100%;
    margin: 1px 2px;
    padding: 2px;
}


#editar-user.Selected, #informacion-user.Selected {
    width: 80%;
    height: 70%;
}

#editar-user.full {
    display: block !important;
}

#editar-user #titulo {
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.input-box {
    position: relative;
    width: 100%;
}

    .input-box input {
        position: relative;
        width: 90%;
        border: solid 3px;
        border-radius: 10px;
        outline: none;
        padding: 15px 10px 2px;
        font-weight: 500;
        font-size: 1em;
        margin: 10px 0 0 5%;
    }

    .input-box span {
        position: absolute;
        top: 0;
        left: 0;
        margin: 15px 0 0 4%;
        padding: 1px 15px;
        transition: 0.5s;
        pointer-events: none;
    }

    .input-box input:focus ~ span,
    .input-box input:valid ~ span {
        transform: translateY(-2px);
        font-size: 0.8em;
    }

button {
    margin: auto;
}

#galeria {
    background-color: #25293A;
    border-radius: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.foto {
    aspect-ratio: 1/1;
    background-color: #F7F9F7;
    max-width: 12.5%;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .foto img {
        max-width: 80%;
        margin: auto;
        display: block;
        transition: all 0.5s ease-out;
    }

        .foto img:hover {
            max-width: 90%;
            transition: all 0.5s ease-out;
        }