/*COLOR 1: Blanco:  #F7F9F7  */
/*COLOR 2: NARANJA: #EC992E  */
/*COLOR 3: ROJO:    #E76954  */
/*COLOR 4: MORADO:  #BD4760  */
/*COLOR 5: NEGRO:   #25293A  */

#main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#informacion-user {
    overflow: hidden;
    background-color: #BD4760;
    box-shadow: 0 10px 28px #25293A;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70%;
    margin: 10px;
    transition: all 0.75s ease-out;
}

#info-cont {
    background-color: #25293A;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.inf2 {
    background-color: #F7F9F7;
    border-radius: 5px;
    width: 100%;
    margin: 1px 2px;
    padding: 2px;
}

    .inf2 label {
        text-align: center;
    }

#editar-user #titulo {
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.input-box {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

    .input-box input {
        position: relative;
        width: 90%;
        border: solid 3px;
        border-radius: 10px;
        outline: none;
        padding: 5px;
        font-weight: 500;
        font-size: 1em;
        margin: 10px 0 0 5%;
    }
